<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened="true">
        <div class="sidenav-style">
            <app-sidenav></app-sidenav>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet>
                <div class="header">
                    <app-header>
                        <app-forms></app-forms>
                    </app-header>
                </div>
            </router-outlet>
                <div>
                    <app-footer></app-footer>
                </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>